In [1]:
import numpy as np
import pandas as pd

In [2]:
df =pd.DataFrame([7, 2, 0, 3, 4, 2, 5, 0, 3, 4], columns= ['X'])

In [3]:
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [4]:
#creating a series
s = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])

In [5]:
(s.groupby(s.eq(0).cumsum().mask(s.eq(0))).cumcount() + 1).mask(s.eq(0), 0).tolist()

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [6]:
z=(s.groupby(s.eq(0).cumsum().mask(s.eq(0))).cumcount() + 1).mask(s.eq(0), 0).tolist()

In [7]:
#creating a data frame
df =pd.DataFrame(z, columns =['y'])

In [8]:
df

   y
0  1
1  2
2  0
3  1
4  2
5  3
6  4
7  0
8  1
9  2

In [9]:
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a
#Series of random numbers.
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')

In [10]:
s = pd.Series(np.random.rand(261), index=dti)

In [11]:
s

2015-01-01    0.000660
2015-01-02    0.222364
2015-01-05    0.849049
2015-01-06    0.057870
2015-01-07    0.766128
2015-01-08    0.537842
2015-01-09    0.124865
2015-01-12    0.033876
2015-01-13    0.552418
2015-01-14    0.924813
2015-01-15    0.667441
2015-01-16    0.444258
2015-01-19    0.697301
2015-01-20    0.675185
2015-01-21    0.407806
2015-01-22    0.531715
2015-01-23    0.153856
2015-01-26    0.774887
2015-01-27    0.095327
2015-01-28    0.736001
2015-01-29    0.337578
2015-01-30    0.072296
2015-02-02    0.907806
2015-02-03    0.022479
2015-02-04    0.194521
2015-02-05    0.108078
2015-02-06    0.942195
2015-02-09    0.953462
2015-02-10    0.322248
2015-02-11    0.232210
                ...
2015-11-20    0.029214
2015-11-23    0.901057
2015-11-24    0.103374
2015-11-25    0.512264
2015-11-26    0.362008
2015-11-27    0.149574
2015-11-30    0.445367
2015-12-01    0.075841
2015-12-02    0.589073
2015-12-03    0.722428
2015-12-04    0.291690
2015-12-07    0.394236
2015-12-08    0.316773
2015-12-09    0.743810
2015-12-10    0.297577
2015-12-11    0.094430
2015-12-14    0.414070
2015-12-15    0.826924
2015-12-16    0.709386
2015-12-17    0.597194
2015-12-18    0.898132
2015-12-21    0.202312
2015-12-22    0.665860
2015-12-23    0.362595
2015-12-24    0.244134
2015-12-25    0.515916
2015-12-28    0.641661
2015-12-29    0.413471
2015-12-30    0.332601
2015-12-31    0.294717
Freq: B, Length: 261, dtype: float64

In [12]:
s[dti.weekday == 4].sum() # sum for every wednesday

23.04317337650365

In [13]:
s.resample('M', how='mean')

D:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2015-01-31    0.439252
2015-02-28    0.551851
2015-03-31    0.485227
2015-04-30    0.506021
2015-05-31    0.516379
2015-06-30    0.409991
2015-07-31    0.522596
2015-08-31    0.456109
2015-09-30    0.546233
2015-10-31    0.478786
2015-11-30    0.465453
2015-12-31    0.462819
Freq: M, dtype: float64

In [14]:
s.resample('M').mean()

2015-01-31    0.439252
2015-02-28    0.551851
2015-03-31    0.485227
2015-04-30    0.506021
2015-05-31    0.516379
2015-06-30    0.409991
2015-07-31    0.522596
2015-08-31    0.456109
2015-09-30    0.546233
2015-10-31    0.478786
2015-11-30    0.465453
2015-12-31    0.462819
Freq: M, dtype: float64

In [15]:
s.groupby(pd.TimeGrouper('4M')).idxmax()

D:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-14
2015-05-31   2015-04-14
2015-09-30   2015-09-23
2016-01-31   2015-11-05
dtype: datetime64[ns]